.btn {
  width: 100%;
  padding: 9px 20px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  font-family: inherit;
  text-align: center;
  color: $color-default-black;
  background-color: $color-default-white;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  transition: opacity .3s ease;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
