.cruises {
  padding: 85px 0 120px;

  @include vp-1023 {
    padding: 90px 0 100px;
  }

  @include vp-767 {
    padding: 57px 0 65px;
  }
}

.cruises h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.cruises__list {
  margin: 0;
  padding: 0 15px;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  gap: 30px;
  justify-content: center;

  @include vp-1023 {
    grid-template-columns: repeat(auto-fill, 309px);
  }

  @include vp-767 {
    grid-template-columns: repeat(auto-fill, 270px);
  }
}

.cruises__item {
  position: relative;
  height: 386px;
  color: $color-default-white;
  background-color: $color-default-black;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gradient-cards;
    z-index: 2;
  }

  &:focus,
  &:focus-within,
  &:hover {
    &::before {
      display: none;
    }
  }
}

.cruises__content {
  position: absolute;
  bottom: 0;
  max-height: 100%;
  min-width: 100%;
  padding: 30px 25px 34px 25px;
  color: $color-default-white;
  background-color: $color-default-black;
  overflow-y: auto;

  @include vp-1023 {
    padding: 35px;
  }

  &:hover {
    box-shadow: $shadow-cards;
  }
}

.cruises__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.cruises__item h3,
.cruises__content h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  z-index: 2;
}

.cruises__item h3 {
  position: absolute;
  top: 337px;
  left: 30px;
  margin-top: 0;
  margin-bottom: 0;

  @include vp-1023 {
    top: 331px;
    left: 35px;
  }

  @include vp-767 {
    top: 343px;
    left: 25px;
  }
}

.cruises__content h3 {
  position: static;
  margin-top: 0;
  margin-bottom: 10px;
}

.cruises__item h4 {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.cruises__item p {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-default-white;

  &:last-of-type {
    margin-bottom: 27px;
  }
}

.cruises__item:focus-within img {
  opacity: 0;
  visibility: hidden;
}

.cruises__item:focus img,
.cruises__item:hover img {
  opacity: 0;
  visibility: hidden;
}

.cruises__item:focus-within h3,
.cruises__item:focus h3,
.cruises__item:hover h3 {
  display: none;
}

.cruises__content:focus-within h3,
.cruises__content:focus h3,
.cruises__content:hover h3 {
  display: block;
}
