.cruises {
  padding: 95px 0 120px;
}

.cruises h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;
}

.cruises__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  gap: 30px;
  justify-content: center;
}

.cruises__item {
  position: relative;
  height: 386px;
  color: $color-default-white;
  background-color: $color-default-black;
  cursor: pointer;
}

.cruises__content {
  position: absolute;
  bottom: 0;
  max-height: 100%;
  min-width: 100%;
  padding: 30px 25px 34px 25px;
  color: $color-default-white;
  background-color: $color-default-black;
  box-shadow: $shadow-cards;
  overflow-y: auto;
}

.cruises__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.cruises__item h3,
.cruises__content h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  z-index: 2;
}

.cruises__item h3 {
  position: absolute;
  top: 343px;
  left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.cruises__content h3 {
  position: static;
  margin-top: 0;
  margin-bottom: 25px;
}

.cruises__item h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.cruises__item p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-default-white;

  &:last-of-type {
    margin-bottom: 30px;
  }
}

.cruises__item:focus-within img {
  opacity: 0;
  visibility: hidden;
}

.cruises__item:focus img,
.cruises__item:hover img {
  opacity: 0;
  visibility: hidden;
}

.cruises__item:focus-within h3,
.cruises__item:focus h3,
.cruises__item:hover h3 {
  display: none;
}

.cruises__content:focus-within h3,
.cruises__content:focus h3,
.cruises__content:hover h3 {
  display: block;
}

