.footer {
  background-color: $color-default-black;
  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-1023 {
    padding-bottom: 44px;
  }

  @include vp-767 {
    padding-top: 40px;
    padding-bottom: 38px;
  }
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
  }
}
