.navigation {
  min-height: 38px;
  margin-bottom: 197px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    min-height: 20px;
    margin-bottom: 216px;
  }

  @include vp-767 {
    margin-bottom: 134px;
    min-height: 22px;

    &.is-active {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $color-default-white;
    }
  }
}

.navigation__logo-link {
  margin-top: -15px;
  height: 22px;

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    margin-top: -2px;

    &.is-active {
      position: absolute;
      left: 52px;
      z-index: 50;
    }

    &.is-active .navigation__logo {
      fill: $color-default-black;
    }
  }
}

.navigation__logo {
  fill: $color-default-white;

  @include vp-1023 {
    width: 38px;
    height: auto;
  }

  @include vp-767 {
    width: 42px;
    height: auto;
  }
}

.navigation__list-wrap {
  @include vp-767 {
    display: none;

    &.is-active {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 75px;
      padding-left: 15px;
      width: calc(100% - 37px);
      height: 100vh;
      background-color: $color-default-white;
      overflow: auto;
    }

    &::after {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      width: calc(100% - 37px);
      height: 65px;
      background-color: $color-default-white;
    }

    &.is-active .navigation__item {
      padding: 10px 10px 8px;
    }

    &.is-active .navigation__link {
      font-size: 18px;
      line-height: 22px;
      color: $color-default-black;
    }
  }
}

.navigation__list {
  max-width: 1060px;
  margin: 0;
  margin-top: -2px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 33px;

  @include vp-1023 {
    max-width: 540px;
    gap: 10px 24px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 240px;
    gap: 11px;
  }
}

.navigation__item {
  display: block;
  height: 100%;
}

.navigation__link {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-default-white;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.navigation__toggler {
  display: none;

  @include vp-767 {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 25px;
    height: 22px;
    padding: 0;
    background: transparent url("../img/svg/burger.svg") no-repeat center;
    border: 0;
    cursor: pointer;
    z-index: 50;

    &.is-active {
      right: 9px;
      background: transparent url("../img/svg/cross.svg") no-repeat center;
    }
  }
}

.navigation--footer {
  margin-bottom: 0;
  justify-content: flex-start;
  align-items: center;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 0;
    flex-direction: column;
    align-items: start;
    gap: 28px;
  }
}

.navigation--footer .navigation__logo-link {
  margin-top: -15px;
  margin-right: 40px;

  @include vp-1023 {
    margin-top: 0;
    margin-right: 25px;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.navigation--footer .navigation__list {
  max-width: 750px;
  margin-top: 5px;

  @include vp-1023 {
    margin-top: -5px;
    max-width: 510px;
    gap: 23px;
  }

  @include vp-767 {
    margin-top: 0;
    flex-direction: column;
    gap: 18px;
  }
}

.navigation--footer .navigation__link {
  @include vp-1023 {
    font-size: 12px;
    line-height: 14px;
  }
}
